* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
    background-color: rgb(178, 153, 119);
}

h1 {
  color: white;
}

nav a {
  text-decoration: none;
  padding: 20px 40px;
  color: white;
}

.banner {
  height: 400px;
  width: auto;
  background-image: url(./images2/selfie.jpg);
  background-size: cover;
  background-position: center;
}

.banner h2 {
  background-color: rgba(255, 255, 255, 0.671);
  position: absolute;
  right: 250px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  margin: 31px;
}

.page-section {
  display: grid;
  margin: 5%;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
}

.page-section h2 {
  justify-self: flex-end;
  font-size: xx-large;
  padding-right: 30px;
  border-right: 5px solid tan;
}

#workNest {
  padding-left: 30px;
  display: grid;
  grid-template-rows: 300px 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "workOne workOne"
  "workOne workOne"
  "workTwo workThree"
  "workFour workFive" 
  ;
}

#workOne {
  grid-area: workOne;
  background-image: url(./images2/work1.jpg);
}

#workTwo {
  grid-area: workTwo;
  background-image: url(./images2/work2.jpg);
}

#workThree {
  grid-area: workThree;
  background-image: url(./images2/work3.jpg);
}

#workFour {
  grid-area: workFour;
  background-image: url(./images2/work4.jpg);
}

#workFive {
  grid-area: workFive;
  background-image: url(./images2/work5.jpg);
}

.workNestArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(210, 180, 140, 0.7);
  top: 50px;
  padding: 25px;
  max-width: 120px;
  color: white;
  font-size: large;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  padding-left: 30px;
}
