* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
    background-color: rgb(178, 153, 119);
}

h1 {
  color: white;
}

nav a {
  text-decoration: none;
  padding: 20px 40px;
  color: white;
}

.banner {
  height: 400px;
  width: auto;
  background-image: url(./images2/selfie.jpg);
  background-size: cover;
  background-position: center;
}

.banner h2 {
  background-color: rgba(255, 255, 255, 0.671);
  position: absolute;
  right: 250px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
